@charset "utf-8";
/* CSS Document */

div.body_picture{text-align:center;}
.body_picture img
{

	margin:0 auto;
}

.body_picture p
{
	text-align:center;
	font-size:1em;
	line-height:1.3em;
	


}

div.project_picture{text-align:center;}
.project_picture img
{

	margin:0 auto;
}

.project_picture p
{
	text-align:center;
	font-size:1em;
	line-height:1.3em;



}


/* -----------control materials_picturer -----------*/

.materials_picture
{

	text-align:center;
}

.materials_picture img{margin:0 auto;}

.materials_picture p
{
	text-align:center;
	font-style:italic;
	font-size:0.9em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.blue{color:blue;}
.red{color:red;}
.yellow{color:yellow;}
.green{color:green;}

